<div class="banner2 d-flex" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.immediate.co.uk/production/volatile/sites/3/2020/05/GettyImages-72599595-54af419.jpg);">
  <div class="container w-50 d-flex justify-content-center flex-column align-items-center">
    <h1>All Stadiums</h1>
    <p>Change your life and book stadiums around the world.</p>
    <div class="button-container">
      <%= link_to 'Homepage', root_path, class: "btn button" %>
      <%= link_to 'Add listing', new_listing_path, class: "btn button" %>
    </div>
  </div>
</div>


<div class="listings-container">
  <div class="row">
    <div class="col-6">
      <div class="card-category">
        <% @listings.each do |listing| %>
          <div class="listing-item card">
            <%= link_to listing_path(listing.id) do %>
              <% if listing.photos.attached? %>
                <%= cl_image_tag listing.photos.first.key, height: 200, width: 300, crop: :fill, class: "card-img-top" %>
              <% else %>
                <span>No photo available</span>
              <% end %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to listing.name, listing_path(listing.id), style: "text-decoration: none; color: black;" %>
              </h5>
              <div class="listing-info">
                <p class="listing-description"><%= listing.address %></p>
                <p class="listing-price"><%= listing.price %>€</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-6" id="sticky">
      <div style="width: 100%; height: 600px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
