<div class="m-5">
  <div class="row">
    <div class="col-md-6">
      <h2>Add your Stadium</h2>
      <%= simple_form_for(@listing, html: { multipart: true }) do |f| %> <!-- Add 'multipart: true' option to enable file uploads -->
        <%= f.input :name, placeholder: 'Give your stadium a name...' %>
        <%= f.input :address, placeholder: 'Where is your stadium...' %>
        <%= f.input :description, placeholder: 'Give your stadium a description...' %>
        <%= f.input :capacity, placeholder: 'How many people does your stadium seat...' %>
        <%= f.input :price, placeholder: 'How much do you want to charge...' %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %> <!-- Add 'multiple: true' attribute for multiple file uploads -->
        <%= f.button :submit, "Host!", class: "button" %>
      <% end %>
    </div>
    <div class="col-md-6" id="add_listing_picture">
    </div>
  </div>
</div>
