<h2><%= @listing.name %></h2>
<%= link_to 'Home', root_path, class: "btn button" %>
<%= link_to 'Back', listings_path, class: "btn button" %>
<ul>
  <li><%= @listing.price %></li>
  <li><%= @listing.description %></li>
  <li><%= @listing.capacity %></li>
  <li><%= @listing.address %></li>
</ul>
<%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill %>
<%= link_to 'Book', new_listing_booking_path(@listing.id), class: "btn button" %>
<% if @listing.user_id == current_user.id %>
  <%= link_to 'Delete listing', listing_destroy_path(@listing.id), data: { turbo_method: :delete }, class: "btn button" %>
<% end %>
