<div class="container-show">
  <div class="homeandback d-flex">
    <%= link_to 'Home', root_path, class: "btn button" %>
    <%= link_to 'Back', listings_path, class: "btn button" %>
  </div>
  <div class="containerbtnshow">
  </div>
  <div class="container-listing-indv">
    <div class="listing-container">
      <h1 class="listing-namex"><%= @listing.name %></h1>
    </div>
    <div>
      <h2 style="black"><i class="fa-sharp fa-solid fa-location-dot" style="color: black;"></i> <%= @listing.address %></h2>
    </div>
    <div>
      <h3 class="fa-solid fa-person-seat"> Capacity <%= @listing.capacity %></h3>
    </div>
    <%# <div class="image-price-container">
      <div class="price-container">
        <p><%= @listing.price %></p>
        <%= link_to 'Book', new_listing_booking_path(@listing.id), class: "btn button booklisting" %>
      <%# </div> %>
    <%# </div> %>
    <div class="delete">
      <% if @listing.user_id == current_user.id %>
       <%= link_to 'Delete listing', listing_destroy_path(@listing.id), data: { turbo_method: :delete }, class: "btn button deletelisting" %>
      <% end %>
    </div>
  </div>
  <div class="containerimagelisting">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @listing.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= cl_image_tag photo.key, class: "d-block w-100", crop: :fill %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="containerblackshow">
  <div class="listing-details">
    <h2><%= @listing.name %></h2>
    <div>
      <%= @listing.description %>
    </div>
  </div>
  <div class="map-container">
    <div style="width: 100%; height: 700px;" data-controller="map" data-map-markers-value="<%= @marker.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
