<div class="container">
  <div class="listing-container">
    <h2><%= @listing.name %></h2>
    <div class="image-price-container">
      <%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="price-container">
        <p><%= @listing.price %></p>
        <%= link_to 'Book', new_listing_booking_path(@listing.id), class: "btn button" %>
      </div>
    </div>
  </div>
  <%= link_to 'Home', root_path, class: "btn button" %>
  <%= link_to 'Back', listings_path, class: "btn button" %>
  <div>
    <i class="fa-solid fa-book" style="color: #658864;"></i> <%= @listing.description %>
  </div>
  <div>
    <i class="fa-solid fa-person-seat" style="color: #658864;"></i> <%= @listing.capacity %>
  </div>
  <div>
    <i class="fa-sharp fa-solid fa-location-dot" style="color: #658865;"></i> <%= @listing.address %>
  </div>
  <% if @listing.user_id == current_user.id %>
    <%= link_to 'Delete listing', listing_destroy_path(@listing.id), data: { turbo_method: :delete }, class: "btn button" %>
  <% end %>
  <%# map %>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
