<h2>Booking overview</h2>
<%= link_to 'Home', root_path, class: "btn button" %>
<ul>
  <li><%= @listing.name %></li>
  <li><%= @listing.price %></li>
</ul>
<%= simple_form_for [@listing, @booking] do |f| %>
  <%= f.input :booking_date %>
  <%= f.submit %>
<% end %>
