<div class="booking-container">
  <div class="left-half">
    <div class="image-booking">
      <% @listing.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= cl_image_tag photo.key, class: "d-block w-100", crop: :fill %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="right-half">
    <div class="centered-text">
      <h2>Booking overview</h2>
      <div class="booking-description">
        <p>
          Welcome to the booking overview page for the Allianz Stadium!<br>
          <br>
          Here you will find all the important information about your current booking.<br>
          <br>
          The Allianz Stadium, with its impressive architecture and modern facilities, is the perfect venue for sports events, concerts, and other special occasions.
          For your booking, you can choose your preferred <strong>date</strong> as the visitation date.<br>
          <br>
          Get ready for an unforgettable experience at one of the most prestigious sports venues in the city.
        </p>
      </div>
      <%= simple_form_for [@listing, @booking] do |f| %>
        <%= f.input :booking_date, label_html: { class: "booking-date-label" }, input_html: { class: "booking-date-input" } %>
        <div class="button-container">
          <%= f.button :submit, "Book", class: "button" %>
          <%= link_to 'Back', request.referer, class: "btn button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
