
<h1>Homepage</h1>
<p><%= user_signed_in? %></p>
<%= link_to 'Login', new_user_session_path %>
<%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete } %>
<%= link_to 'All listings', listings_path %>


  <%= render 'shared/footer' %>
