<h2>My listings</h2>
<div class="container">
  <div class="card-category-listing">
    <% @listings.each do |listing| %>
      <div class="listing-item card">
        <% listing.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= cl_image_tag photo.key, class: "d-block w-100", crop: :fill %>
          </div>
        <% end %>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to listing.name, listing_path(listing.id), style: "text-decoration: none; color: black;" %>
          </h5>
          <div class="listing-info">
            <p class="listing-description"><%= listing.address %></p>
            <p class="listing-price"><%= listing.price %>€</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
