<div class="banner3 d-flex" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://c4.wallpaperflare.com/wallpaper/563/995/798/barcelona-crowd-football-people-wallpaper-preview.jpg);">
  <div class="containerbooking w-50 d-flex justify-content-center flex-column align-items-center">
    <h1>Your Bookings</h1>
    <p class="morefun" style="color: white; margin-bottom: 20px;">It's more fun with us.</p>
    <div class="button-container-booking">
      <%= link_to 'Homepage', root_path, class: "btn button" %>
      <%= link_to 'Book More', listings_path, class: "btn button" %>
    </div>
  </div>
</div>

<div class="bookings-container">
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-6">
        <div class="card-category-booking">
          <div class="card-booking card">
            <% if booking.listing.photos.attached? %>
              <%= link_to edit_booking_path(booking.id) do %>
                <%= cl_image_tag booking.listing.photos.first.key, width: 300, height: 200, crop: :fill, class: "card-img-top-booking" %>
              <% end %>
            <% else %>
              <span>No photo available</span>
            <% end %>
            <div class="card-body-booking">
              <div class="card-booking-infos" style="text-decoration: none; color: black;">
                <h2><%= booking.listing.name %></h2>
                <p><%= booking.listing.address %></p>
                <p><strong>User:</strong> <%= booking.user.email %></p>
                <p><strong>Date:</strong> <%= booking.booking_date %></p>
                <p><strong>Status:</strong> <%= booking.status %></p>
                <%# <%= link_to 'Edit', edit_booking_path(booking.id), class: "btn button" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
